.navbar {
    display:flex;
    padding:1rem;
    justify-content: center;
    align-items: center;
    gap: 40rem;
    background-color: transparent;
    border: none;
    transition: background-color 1s ease 0s;
    
}

.webTitle {
    color: azure;
    font-size: 0.6cm;
}



.navMenu a {
    padding: 18px 15px 18px 15px;
    color: azure;
    font-size: 0.5cm;
}

.navMenu a:hover {
    background-color:  rgba(0,0,52,0.8);
}


