.navbar {
    display:flex;
    padding:1rem;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    transition: background-color 1s ease 0s;
    
}

.webTitle {
    margin-left: 7rem;
    color: azure;
    font-size: 0.6cm;
}

.navMenu {
    margin-right: 10rem;
}

.navMenu a {
    padding: 18px 15px 18px 15px;
    color: azure;
    font-size: 0.5cm;
}

.navMenu a:hover {
    background-color:  #000034;
}


