.aboutMe {
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.aboutMe div {
    display:block;
    height: 20rem;
    width: 85rem;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 5%;
    overflow: scroll;
}
