.aboutMe {
    color: aliceblue;
    margin-top: 2rem;
}

.about_container > h2{
    text-align: center;
    padding: 2rem;
}

.about_content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about_desc {
    width: 32rem;
    overflow-y: scroll;
    max-height: 21rem;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: justify;
}

